.map
    iframe(width="100%", height="100%", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=Chemin%20des%20Battieux%1%2C%20Colombier%2C%20Suisse&key=AIzaSyCWbKzvIwwThActNsscoDI9R5GfNm_fnv4")
section
    h1 Emilie Germanier
    p Enseignante, l’être humain a toujours fait partie de mon chemin professionnel. Devenir maman m’a amenée à mieux me connecter à moi, à mon esprit, à mon corps qui me parle et m’accompagne à chaque instant. Aujourd’hui c’est cet accompagnement que j’ai envie d’offrir. Percevoir la vie et les vibrations des corps au travers de mes mains est devenu une passion.
    
    .infos(id='infos')
        li
            
            img(src='./img/icons/phone.png')
            p 
                a(href='tel:079 426 65 38').tel 079 426 65 38
        li
            img(src='./img/icons/time.png')
            p Sur rendez-vous uniquement
        li
            img(src='./img/icons/mail.png')
            p
                a(href='mailto:contact@intériorité.ch').tel contact@intériorité.ch
        li
            img(src='./img/icons/location.png')
            p Chemin des Battieux 1 2013 Colombier