.image(id='massage')
    div(class="parallax-window" data-parallax="scroll" data-image-src="./img/photos/massage.jpg" data-over-scroll-fix='true' data-natural-height='440' data-natural-width='1000')
section
    h1 Massage
    p Le massage nous ramène à notre corps, à la nécessité d’en prendre soin, de vivre mieux avec lui et au-dedans de lui. Il nous invite à un voyage intérieur afin de retrouver notre unité corporelle et notre sensibilité. Le massage permet aussi de diminuer le stress. On constate alors souvent une amélioration générale du fonctionnement des organes internes.
    
    .items
        li 60 min
            p 100.-
        li 90 min
            p 130.-
        a(href='#infos')
            li.reserve Réserver une séance
            
        