- var d = new Date()
- var y = d.getFullYear()
.nav

  a(href= '/' data-ajax="false")
    img(class='logo', src ="./img/logo.png")
    .title Intériorité
    .subTitle Massage et Rolfing®
    
  .menu
   li
     a(href= '#massage' data-ajax="false") MASSAGE   
   li
     a(href= '#rolfing' data-ajax="false") ROLFING®
   li
     a(href= '#infos' data-ajax="false") INFOS
     
     
  .copyright!= 'Intériorité © ' + y 