.image(id='rolfing')
    div(class="parallax-window" data-parallax="scroll" data-image-src="./img/photos/rolfing.jpg" data-over-scroll-fix='true' data-natural-height='337' data-natural-width='960')
section
    h1 Rolfing®
    p La méthode vise à optimiser la posture. Les douleurs sont ainsi réduites, la flexibilité améliorée, l’énergie accrue et l’aisance corporelle favorisée. Notre inconscient investit autant le corps que le psychisme. Le rolfing révèle un ressenti corporel fondateur.
    .rolfing-image 
        img(src='./img/rolfing.png')
    .links
        div 
            a(href='http://www.rolfing.ch' class="link") www.rolfing.ch
        div
            a(href='http://www.rolfing-afris.com' class="link") www.rolfing-afris.com
    .items
        li.formation La séance
           p 150.-
        a(href='#infos')
            li.reserve Réserver une séance
           
    .assurance Remboursé par l’assurance complémentaire