.image-top
    div(class="parallax-window header" data-parallax="scroll" data-image-src="./img/photos/home.jpg" data-natural-height='881' data-natural-width='1175' data-over-scroll-fix='true' )
section.home
    h1 Intériorité
    p Optimiser sa structure corporelle entraîne une amélioration générale de la perception de soi et un bien-être intérieur qui se traduit souvent par une expressivité plus authentique